.container{
    width: 1130px;
    margin: auto;
}

.heading {
    text-align: center;
    padding-top: 100px;
}

.heading h1{
    font: 40px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
}
.ligonformarea{
    background-color: #fff;
    box-shadow: 0px 0px 16px lightblue;
    padding: 40px;
    border-radius: 20px;
    margin-top: 50px;
    width: 500px;
    margin: auto;
}
.ligonformarea input{
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 2px solid rosybrown;
    
}

#submit{
    width: auto;
    border: 1px;
    background-color: red;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
}
.transcount {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 50px;
    align-items: center;
    padding-bottom: 100px;
    justify-content: space-around;
}

.transcount h3 {
    color: #fff;
    font-size: 16px;
    margin: 0;
}
.transcount h2 {
    font-size: 50px;
    color: #fff;
    margin: 0;
}

.deposit, .withdraw, .balance {
    padding: 20px;
    border-radius: 10px;
    width: 200px;
}
.deposit{
 background-color: #5e4fc6;
}
.withdraw{
    background-color: #f09670;
}
.balance{
    background-color: #ef9b01;
}

.input_field_left{
    background-color: #fff;
    box-shadow: 0px 0px 16px lightblue;
    padding: 40px;
    border-radius: 20px;
}
.dashboardinputandoutpotbox h2{
    margin: 0;
    font-size: 20px;
    margin-bottom: 10px;
}

.dashboardinputandoutpotbox input{
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 2px solid rosybrown;
}
.green{
    width: auto;
    border: 1px;
    background-color: green;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
}
.dashboardinputandoutpotbox{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-column-gap: 30px;    
}

#dashboard{
    display: none;
    padding-top: 100px;
}